.c_restaurant-menu-frame {
  width: 100%;
  overflow: hidden;
  max-width: 430px;
  box-sizing: border-box;
  align-items: flex-start;
  border-radius: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.c_restaurant-menu-rectangle,
.c_restaurant-menu-rectangle01 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 46px;
}

.c_restaurant-menu-rectangle02,
.c_restaurant-menu-rectangle03,
.c_restaurant-menu-rectangle04 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 229px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  border-radius: 30px 30px 30px 30px;
}

.c_restaurant-menu-rectangle03,
.c_restaurant-menu-rectangle04 {
  max-width: 345px;
}

.c_restaurant-menu-rectangle04 {
  max-width: 397px;
}

.c_restaurant-menu-rectangle05,
.c_restaurant-menu-rectangle06 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 292px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}

.c_restaurant-menu-rectangle06 {
  max-width: 327px;
}

.c_restaurant-menu-text {
  width: 100%;
  max-width: 286px;
  margin-top: 0;
  min-height: 116px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text01,
.c_restaurant-menu-text02 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text02 {
  font-size: 15px;
  font-weight: 400;
}

.c_restaurant-menu-text03 {
  width: 100%;
  max-width: 292px;
  margin-top: 0;
  min-height: 67px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text04,
.c_restaurant-menu-text05 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 7px;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text05 {
  font-size: 14px;
  font-weight: 400;
}

.c_restaurant-menu-text06,
.c_restaurant-menu-text07 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text07 {
  width: 100%;
  max-width: 292px;
  min-height: 67px;
}

.c_restaurant-menu-text08,
.c_restaurant-menu-text09 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 7px;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text09 {
  font-size: 14px;
  font-weight: 400;
}

.c_restaurant-menu-text10 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-rectangle07,
.c_restaurant-menu-rectangle08 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
}

.c_restaurant-menu-rectangle07 {
  max-width: 181px;
  border-radius: 30px 30px 30px 30px;
}

.c_restaurant-menu-rectangle08 {
  max-width: 276px;
}

.c_restaurant-menu-ellipse,
.c_restaurant-menu-ellipse1 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 33px;
  border-radius: 100%;
}

.c_restaurant-menu-ellipse1 {
  max-width: 17px;
}

.c_restaurant-menu-text11 {
  width: 100%;
  max-width: 113px;
  margin-top: 0;
  min-height: 53px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text12 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text13 {
  width: 100%;
  max-width: 113px;
  margin-top: 0;
  min-height: 53px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text14 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text15 {
  width: 100%;
  max-width: 113px;
  margin-top: 0;
  min-height: 53px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text16 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-vector,
.c_restaurant-menu-vector1,
.c_restaurant-menu-vector2 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 15px;
}

.c_restaurant-menu-vector3,
.c_restaurant-menu-vector4 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 20px;
}

.c_restaurant-menu-vector4 {
  max-width: 10px;
}

.c_restaurant-menu-text17 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text18,
.c_restaurant-menu-text19 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 7px;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-text19 {
  font-size: 14px;
  font-weight: 400;
}

.c_restaurant-menu-text20 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-vector5,
.c_restaurant-menu-vector6 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 25.001922607421875px;
}

.c_restaurant-menu-vector6 {
  max-width: 21.875px;
}

.c_restaurant-menu-vector7,
.c_restaurant-menu-vector8 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 24.21875px;
}

.c_restaurant-menu-vector8 {
  max-width: 25.00048828125px;
}

.c_restaurant-menu-text21 {
  width: 100%;
  max-width: 127px;
  margin-top: 0;
  min-height: 73px;
  text-align: left;
  margin-bottom: 0;
}

.c_restaurant-menu-text22 {
  color: #f5f5f5;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Inter",sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}

.c_restaurant-menu-rectangle09,
.c_restaurant-menu-rectangle10,
.c_restaurant-menu-rectangle11,
.c_restaurant-menu-rectangle12 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 55px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  border-radius: 10px 10px 10px 10px;
}

.c_restaurant-menu-rectangle13,
.c_restaurant-menu-rectangle14,
.c_restaurant-menu-rectangle15,
.c_restaurant-menu-rectangle16 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 30px;
}